[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
rope = "*"
flake8 = "*"
coverage = "*"

[packages]
python-telegram-bot = "==11.1.*"

[requires]
python_version = "3.7"

[scripts]
lint = "flake8 telegrambot/ examples/ tests/"
test = "python -m unittest discover"
